<main>
    <h2>Seja bem-vindo(a), {{ user.name }}</h2>
    <p> tem{{ user.age }}.</>

    {{#if auth}}
        <a href="/array">Acessar a array de items</a>
    {{else}}
        <p>Você precisa ser autenticado para acessar a Dashboard</p>
    {{/if}}
</main>